<section style="display: flex;flex-direction: row;gap: 16px;align-items: center;">
    <div style="display: flex;flex-direction: column;">
      <mat-form-field appearance="outline">
        <mat-label>Enter the word</mat-label>
        <input matInput [(ngModel)]="word">
      </mat-form-field>
      <b>
        Meaning : {{ meaning }}
      </b>
    </div>
      <button mat-raised-button color="primary" (click)="callGetApi()" style="margin-bottom: 20px;">Submit GET API</button>

    <div style="display: flex;flex-direction: column;">
      <mat-form-field appearance="outline">
        <mat-label>Enter the word</mat-label>
        <input matInput [(ngModel)]="opposit">
      </mat-form-field>
      <b>
        Antonym : {{ antonym }}
      </b>
    </div>
      <button mat-raised-button color="primary" (click)="getOppositAPI()" style="margin-bottom: 20px;">Submit GET API</button>
    

    <div style="display: flex;flex-direction: column;">
      <mat-form-field appearance="outline">
        <mat-label>Enter Article Name</mat-label>
        <input matInput [(ngModel)]="articleName">
      </mat-form-field>
      <b>
        Book Id : {{ bookId }}
      </b>
    </div>
    <button mat-raised-button color="primary" (click)="callPostApi()" style="margin-bottom: 20px;">Submit POST API</button>
  </section>

  <div style="display: flex;flex-direction: row;gap: 16px;margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="exportCache()">Export cache</button>
  </div>

  <div style="display: flex;flex-direction: row;gap: 16px;margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="navHome()">Home</button>
    <button mat-raised-button color="primary" (click)="navAbout()">About</button>
    <button mat-raised-button color="primary" (click)="navView()">View</button>
  </div>
  <router-outlet></router-outlet>
