<section style="display: flex;flex-direction: row;gap: 16px;align-items: center;">
    <div style="display: flex;flex-direction: column;">
      <label for="dictionary">Enter the word:</label>
      <input id="dictionary" [(ngModel)]="word" />
      <b>
        Meaning : {{ meaning }}
      </b>
    </div>
    <button (click)="callGetApi()" style="height: 20px;">Submit GET API</button>

    <div style="display: flex;flex-direction: column;">
      <label for="antonym">Enter the word:</label>
      <input id="antonym" [(ngModel)]="opposit" />
      <b>
        Antonym : {{ antonym }}
      </b>
    </div>
    <button (click)="getOppositAPI()" style="height: 20px;">Submit GET API</button>
    

    <div style="display: flex;flex-direction: column;">
      <label for="article">Enter Article Name:</label>
      <input id="article" [(ngModel)]="articleName" />
      <b>
        Book Id : {{ bookId }}
      </b>
    </div>
    <button (click)="callPostApi()" style="height: 20px;">Submit POST API</button>
  </section>

  <div style="display: flex;flex-direction: row;gap: 16px;margin-top: 20px;">
    <button (click)="exportCache()">Export cache</button>
  </div>

  <div style="display: flex;flex-direction: row;gap: 16px;margin-top: 20px;">
    <button (click)="navHome()">Home</button>
    <button (click)="navAbout()">About</button>
    <button (click)="navView()">View</button>
  </div>
