<mat-toolbar color="primary" class="toolbar">
  <div cla="header-bar">
    <button mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon>apps</mat-icon>
    </button>
    <button mat-button aria-label="Example icon button with a home icon">
      <span>My app</span>
    </button>
  </div>
  
  <button mat-icon-button aria-label="Example icon button with a home icon" (click)="openUserMenu()">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="header-bar mat-elevation-z8" color="secondary">
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <b>{{ title }}</b>
</mat-card>

<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" #drawer>
    <div class="side-nav">
      <button mat-button color="primary" *ngFor="let option of menuOptions" (click)="navigate(option.route)">{{ option.name }}</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>